@{
    ViewData["Title"] = $"Create User";
}

<h2 class="mb-5">Create User</h2>
<form class="border" asp-controller="Admin" asp-action="CreateUser">
    <div class="mb-3 row">
        <label for="name" class="col-1 col-form-label">Name</label>
        <div class="col-4">
            <input type="text" class="form-control" name="name">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="username" class="col-1 col-form-label">Username</label>
        <div class="col-4">
            <input type="text" class="form-control" name="username">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="email" class="col-1 col-form-label">Email</label>
        <div class="col-4">
            <input type="text" class="form-control" name="email">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="password" class="col-1 col-form-label">Password</label>
        <div class="col-4">
            <input type="text" class="form-control" name="password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>