@{
    ViewData["Title"] = $"Admin Password";
}

<h2 class="mb-5">Edit Admin Password</h2>
<form class="border" asp-controller="Admin" asp-action="EditAdminPassword">
    <div class="mb-3 row">
        <label class="col-1 col-form-label">Old password</label>
        <div class="col-4">
            <input type="password" class="form-control" name="oldPassword">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-1 col-form-label">New password</label>
        <div class="col-4">
            <input type="password" class="form-control" name="newPassword">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Change password</button>
</form>