@{
    ViewData["Title"] = $"User {ViewBag.User.Username}";
}

<div class="bg-white flex-fill">
<div class="mb-3 row">
    <label for="avatar" class="col-2 col-form-label">Avatar</label>
    <div class="col-4">
        @if (System.IO.File.Exists($"wwwroot/avatars/{ViewBag.User.Id}.jpg"))
        {
            <img src="~/avatars/@(ViewBag.User.Id).jpg" id="avatar" class="img rounded-circle" height="100" width="100" asp-append-version="true" />
        }
        else
        {
            <img src="~/avatars/default.png" class="img rounded-circle" height="100" width="100" id="avatar" asp-append-version="true" />
        }
    </div>
</div>
<div class="mb-3 row">
    <label for="id" class="col-2 col-form-label">Id</label>
    <div class="col-4">
        <input type="text" readonly class="form-control-plaintext" id="id" value=@ViewBag.User.Id>
    </div>
</div>
<div class="mb-3 row">
    <label for="name" class="col-2 col-form-label">Name</label>
    <div class="col-4">
        <input type="text" class="form-control" id="name" value=@ViewBag.User.Name>
    </div>
</div>
<div class="mb-3 row">
    <label for="username" class="col-2 col-form-label">Username</label>
    <div class="col-4">
        <input type="text" class="form-control" id="username" value=@ViewBag.User.Username>
    </div>
</div>
<div class="mb-3 row">
    <label for="email" class="col-2 col-form-label">Email</label>
    <div class="col-4">
        <input type="text" class="form-control-plaintext" id="email" value=@(ViewBag.User.Email is null ? "None" : ViewBag.User.Email) readonly>
    </div>
</div>
</div>