<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete profile</h5>
        </div>
        <div class="modal-body">
            Are you certain you want to delete your profile?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" v-on:click="close">Cancel</button>
            <button type="button" class="btn btn-secondary" v-on:click="deleteProfile">Delete profile</button>
        </div>
    </div>
</div>