<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" v-on:click="reset"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating mb-3">
                <input type="form-control" class="form-control" v-bind:class="nameInvalid ? 'is-invalid': ''"
                    id="edit-name" v-bind:value="appUser.name" required aria-describedby="nameValidation">
                <label for="edit-name">Name</label>

                <div id="nameValidation" class="invalid-feedback">
                    Name can't be empty
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="form-control" class="form-control" v-bind:class="usernameInvalid ? 'is-invalid': ''"
                    id="edit-username" v-bind:value="appUser.username" required
                    aria-describedby="edit-username-validation">
                <label for="edit-username">Username</label>

                <div id="edit-username-validation" class="invalid-feedback">
                    {{ usernameMessage }}
                </div>
            </div>

            <div class="form-floating mb-3">
                <textarea type="form-control" type="text" style="resize: none; overflow: hidden;" class="form-control"
                    id="about" maxlength="160" v-bind:value="appUser.about"
                    oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
                <label for="about">About</label>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" v-on:click="save">Save</button>
            </div>
        </div>
    </div>