<div class="container-fluid p-3">
    <div class="row gx-3" style="height: 90vh;">

        <!--Left padding-->
        <div class="col-2"></div>

        <!--Entries column-->
        <div class="col-5 bg-light">
            <profile v-bind:user="user" v-bind:current-user="user" v-bind:avatar="getAvatar(user.id)"></profile>

            <div class="bg-light">
                <div class="container p-3 bg-light">
                    <tweet v-for="entry in user.entries" v-bind:key="entry.id" v-bind:entry="entry" v-bind:user="user"
                        v-bind:show-retweets="true" v-bind:avatar="getAvatar(entry.author.id)"
                        v-bind:delete-entry="deleteEntry">
                    </tweet>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="p-3 border-bottom bg-light">Reserved</div>
        </div>
    </div>
</div>