################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspTwitter.csproj.user
/bin/Debug/net5.0
/obj
/.vs/AspTwitter/config/applicationhost.config
/.vs/AspTwitter/DesignTimeBuild
/.vs/AspTwitter/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/Frontend/Web/.vscode/launch.json
/Frontend/Web/scripts/vue.js
/Properties/launchSettings.json
/appsettings.Development.json
/appsettings.json
/AspTwitter.csproj
/AspTwitter.sln
/Backend/AppData/data.db
/Devlog.txt
/Frontend/Web/lib/vue.js
