################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspTwitter.csproj.user
/bin/Debug/net5.0
/obj
/.vs/AspTwitter/config/applicationhost.config
/.vs/AspTwitter/DesignTimeBuild
/.vs/AspTwitter/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/Frontend/Web/.vscode/launch.json
/Frontend/Web/scripts/vue.js
/Properties/launchSettings.json
/appsettings.Development.json
/appsettings.json
/AspTwitter.csproj
/AspTwitter.sln
/Backend/AppData/data.db
/Devlog.txt
/Frontend/Web/lib/vue.js
/Frontend/Web/lib/jquery-3.5.1.min.js
/Backend/AppData/Avatars/2.jpg
/Frontend/Web/images/default_avatar.png
/Backend/AppData/Avatars
/Backend/Tests/bin/Debug/net5.0
/Backend/Tests/obj
/Backend/Tests/Tests.csproj
/.vs/AspTwitter/v16/TestStore/0
/Frontend/Web/logo.png
/wwwroot
/Backend/AppData/apps.json
/Frontend/Web-Vue/.vscode/launch.json
/Frontend/Web-Vue/lib
/Frontend/Web-Vue/config.json
/Frontend/Web-Vue/logo.png
