<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AspTwitter Admin - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="margin-bottom: 0px">
    <div class="container-fluid">
        <div class="row" style="height: 100vh;">
            <div class="col-1 bg-dark">
                <nav class="nav flex-column position-fixed">
                    <a class="nav-link disabled text-info" style="font-size: xx-large;" aria-disabled="true">Admin</a>
                    <a class="nav-link text-light" style="font-size: x-large;" asp-area="" asp-controller="Admin" asp-action="Home">Home</a>
                    <a class="nav-link text-light" style="font-size: x-large;" asp-area="" asp-controller="Admin" asp-action="Users">Users</a>
                    <a class="nav-link text-light" style="font-size: x-large;" asp-area="" asp-controller="Admin" asp-action="Entries">Entries</a>
                </nav>
            </div>
            <div class="col-11 bg-light">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
