@{
    ViewData["Title"] = $"Entry Edit";
}

<h2 class="mb-5">Edit Entry</h2>
<form class="border" asp-controller="Admin" asp-action="EditEntry">
    <div class="mb-3 row">
        <label for="id" class="col-1 col-form-label">Id</label>
        <div class="col-4">
            <input type="text" readonly class="form-control-plaintext" name="id" value=@ViewBag.Entry.Id>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="date" class="col-1 col-form-label">Date</label>
        <div class="col-4">
            <input type="text" class="form-control-plaintext" name="date" value="@ViewBag.Entry.Timestamp" readonly>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="author" class="col-1 col-form-label">Author</label>
        <div class="col-4">
            <a class="btn btn-link" name="author" asp-controller="Admin" asp-action="EditUser" asp-route-id="@ViewBag.Entry.AuthorId">@ViewBag.Entry.Author.Username</a>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="text" class="col-1 col-form-label">Text</label>
        <div class="col-4">
            <textarea class="form-control" name="text" rows="5" maxlength="256">@ViewBag.Entry.Text</textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
