@page "/"

@using Frontend.Models;
@using System.Net.Http
@inject HttpClient Http

<div class="container-fluid">
    @foreach (Entry entry in entries)
    {
        <Tweet entry="@entry"></Tweet>
    }
</div>

@code{
    private List<Entry> entries = new();

    protected override async Task OnInitializedAsync() =>
        entries = await Http.GetFromJsonAsync<List<Entry>>("api/entries/partial/0");

    private string GetDate(DateTime timestamp)
    {
        return timestamp.Date.ToString("dd/M/yyyy");
    }
}