<!doctype html>
<html>

<head>
  <title> AspTwitter </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

  <!--Scripts-->
  <script type="text/javascript" src="lib/vue.js"></script>
  <script type="text/javascript" src="lib/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="scripts/user.js"></script>
  <script type="text/javascript" src="scripts/entries.js"></script>
  <script type="text/javascript" src="scripts/templates/tweet.js"></script>
</head>

<body style="background-color:lavender">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  <!--Navbar-->
  <div id="nav" class="sticky-top"></div>

  <div class="tab-content" id="tabs">
    <!--Home tab-->
    <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>

    <!--Explore tab-->
    <div class="tab-pane" id="explore" role="tabpanel" aria-labelledby="profile-tab"></div>

    <!--Messages tab-->
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab" v-if="user.logged"></div>

    <!--Profile tab-->
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab" v-if="user.logged"></div>
  </div>

  <!--Login modal-->
  <div class="modal fade" id="login" tabindex="-1"></div>

  <!--Register modal-->
  <div class="modal fade" id="register" tabindex="-1"></div>

  <!--Profile edit modal-->
  <div class="modal fade" id="edit" tabindex="-1"></div>

  <!--Comment modal-->
  <div class="modal fade" id="comment" tabindex="-1"></div>

  <script>

    $(function () {
      $("#nav").load("components/nav.html", function () {
        $.getScript("scripts/nav.js");
      });
    });

    $(function () {
      $("#home").load("components/home.html", function () {
        $.getScript("scripts/home.js");
      });
    });

    $(function () {
      $("#profile").load("components/profile/profile.html", function () {
        $.getScript("scripts/profile/profile.js");
      });
    });

    $(function () {
      $("#edit").load("components/profile/edit.html", function () {
        $.getScript("scripts/profile/edit.js");
      });
    });

    $(function () {
      $("#login").load("components/auth/login.html", function () {
        $.getScript("scripts/auth/login.js");
      });
    });

    $(function () {
      $("#register").load("components/auth/register.html", function () {
        $.getScript("scripts/auth/register.js");
      });
    });

    $(function () {
      $("#comment").load("components/comment.html", function () {
        $.getScript("scripts/comment.js");
      });
    });
  </script>
</body>

</html>