<!doctype html>
<html>

<head>
  <title> AspTwitter </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <script type="text/javascript" src="lib/vue.js"></script>
  <script type="text/javascript" src="lib/jquery-3.5.1.min.js"></script>
</head>

<body style="background-color: lightgray;">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  <div id="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">AspTwitter</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#messages">Messages</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

          <ul class="navbar-nav">
            <li class="nav-item dropdown" v-if="logged">
              <a class="nav-link dropdown-toggle" role="button" id="profileMenu" data-bs-toggle="dropdown"
                aria-expanded="false">{{ username }}</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                  <a class="dropdown-item" href="#edit">Edit</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" v-on:click="logout" href="#logout">Logout</a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown" v-else>
              <a class="nav-link dropdown-toggle" role="button" id="loginMenu" data-bs-toggle="dropdown"
                aria-expanded="false">
                Anonymous
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                <li class="nav-item">
                  <a class="dropdown-item" data-bs-toggle="modal" href="#login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" data-bs-toggle="modal" href="#register">Register</a>
                </li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container-fluid px-5 p-3">
      <div class="row gx-3">

        <!--Left padding-->
        <div class="col-2"></div>

        <!--Entries column-->
        <div class="col-5">
          <div class="p-3 border bg-light" v-for="entry in entries" v-bind:key="entry.id">
            <b style="font-size: large;">{{ entry.author.name }}</b> @{{ entry.author.username }} <br>
            <a style="color: black;">{{ entry.text }}</a>
          </div>
        </div>


        <div class="col-3">
          <div class="p-3 border bg-light">Reserved</div>
        </div>
      </div>
    </div>

  </div>

  <!--Login modal-->
  <div class="modal fade" id="login" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-3">
            <input type="form-control" class="form-control" v-bind:class="usernameInvalid ? 'is-invalid': ''"
              id="loginUsername" rows="1" placeholder="Username" required aria-describedby="usernameValidation">

            <div id="usernameValidation" class="invalid-feedback">
              {{ usernameMessage }}
            </div>
          </div>

          <div class="mb-3">
            <input type="password" class="form-control" v-bind:class="passwordInvalid ? 'is-invalid': ''"
              id="loginPassword" placeholder="Password" required aria-describedby="passwordValidation">

            <div id="passwordValidation" class="invalid-feedback">
              {{ passwordMessage }}
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" v-on:click="login">Sign in</button>
        </div>
      </div>
    </div>
  </div>

  <!--Register modal-->
  <div class="modal fade" id="register" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Register</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-3">
            <input type="form-control" class="form-control" v-bind:class="nameInvalid ? 'is-invalid': ''" id="registerName" rows="1" placeholder="Name" required
             aria-describedby="nameValidation">

             <div id="nameValidation" class="invalid-feedback">
              Name required
            </div>
          </div>

          <div class="mb-3">
            <input type="form-control" class="form-control" v-bind:class="usernameInvalid ? 'is-invalid': ''" id="registerUsername" rows="1" placeholder="Username" required
             aria-describedby="usernameValidation">

             <div id="usernameValidation" class="invalid-feedback">
              {{ usernameMessage }}
            </div>
          </div>

          <div class="mb-3">
            <input type="email" class="form-control" id="registerEmail" v-bind:class="emailInvalid ? 'is-invalid': ''" aria-describedby="emailValidation" placeholder="Email">

            <div id="emailValidation" class="invalid-feedback">
              Invalid email format
            </div>
          </div>

          <div class="mb-3">
            <input type="password" class="form-control" v-bind:class="passwordInvalid ? 'is-invalid': ''" id="registerPassword" placeholder="Password" required
             aria-describedby="passwordValidation">

            <div id="passwordValidation" class="invalid-feedback">
              {{ passwordMessage }}
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" v-on:click="register">Sign up</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="scripts/main.js"></script>
  <script type="text/javascript" src="scripts/login.js"></script>
  <script type="text/javascript" src="scripts/register.js"></script>
</body>

</html>