@{
    ViewData["Title"] = $"User Edit";
}

<h2 class="mb-5">Edit User</h2>
<form class="border" enctype="multipart/form-data" asp-controller="Admin" asp-action="EditUser">
    <div class="m-3 row">
        @if (System.IO.File.Exists($"wwwroot/avatars/{ViewBag.User.Id}.jpg"))
        {
            <img src="~/avatars/@(ViewBag.User.Id).jpg" id="avatar" class="img rounded-circle" height="100" width="100" asp-append-version="true" />
        }
        else
        {
            <img src="~/avatars/default.png" class="img rounded-circle" height="100" width="100" asp-append-version="true" />
        }
    </div>
    <div class="mb-3 row">
        <label for="avatar" class="col-1 col-form-label">Avatar</label>
        <div class="col-4">
            <input type="file" name="avatar" accept="image/*" enctype="multipart/form-data">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="id" class="col-1 col-form-label">Id</label>
        <div class="col-4">
            <input type="text" readonly class="form-control-plaintext" name="id" value=@ViewBag.User.Id>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="name" class="col-1 col-form-label">Name</label>
        <div class="col-4">
            <input type="text" class="form-control" name="name" value="@ViewBag.User.Name">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="username" class="col-1 col-form-label">Username</label>
        <div class="col-4">
            <input type="text" class="form-control" name="username" value=@ViewBag.User.Username>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="email" class="col-1 col-form-label">Email</label>
        <div class="col-4">
            <input type="text" class="form-control" name="email" value=@(ViewBag.User.Email)>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="about" class="col-1 col-form-label">About</label>
        <div class="col-4">
            <textarea class="form-control" name="about" rows="5" maxlength="160">@ViewBag.User.About</textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>