@{
    ViewData["Title"] = "Register App";
}

<h2 class="mb-5">Register App</h2>
<form class="border" asp-controller="Admin" asp-action="RegisterApp">
    <div class="mb-3 row">
        <label for="name" class="col-1 col-form-label">Name</label>
        <div class="col-4">
            <input type="text" class="form-control" name="name">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="info" class="col-1 col-form-label">Info</label>
        <div class="col-4">
            <input type="text" class="form-control" name="info">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="path" class="col-1 col-form-label">App path</label>
        <div class="col-4">
            <input type="text" class="form-control" name="path">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>