<div class="container-fluid p-3">
    <div class="row gx-3" style="height: 90vh;">

        <!--Left padding-->
        <div class="col-2"></div>

        <!--Search column-->
        <div class="col-5 bg-light">
            <form id="search-form" class="d-flex p-3">
                <input class="form-control me-2" id="search-bar" v-on:keydown.enter="sendQuery" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="button" v-on:click="sendQuery">Search</button>
            </form>

            <ul class="nav nav-tabs justify-content-center" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" style="outline: none;" id="users-tab" data-bs-toggle="tab"
                        data-bs-target="#users" type="button" role="tab" aria-controls="users"
                        v-on:click="searchUsers = true; sendQuery()" aria-selected="true">Users</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" style="outline: none;" id="profile-tab" data-bs-toggle="tab"
                        data-bs-target="#tweets" type="button" role="tab" aria-controls="tweets"
                        v-on:click="searchUsers = false; sendQuery()" aria-selected="false">Tweets</button>
                </li>
            </ul>

            <div class="tab-content" id="searchTabs">
                <!--Users tab-->
                <div class="tab-pane show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                    <div class="bg-light" v-if="!showProfile && searchUsers">
                        <div class="container p-3 bg-light">
                            <user-info v-for="user in users" v-bind:key="user.id" v-bind:user="user"
                                v-bind:app-user="appUser"></user-info>
                        </div>
                    </div>

                    <!--Tweets tab-->
                    <div class="tab-pane" id="tweets" role="tabpanel" aria-labelledby="tweets-tab">
                        <div class="bg-light" v-if="!showProfile && !searchUsers">
                            <div class="container p-3 bg-light">
                                <tweet v-for="entry in entries" v-bind:key="entry.id" v-bind:entry="entry"
                                    v-bind:user="appUser" v-bind:show-retweets="false">
                                </tweet>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Selected user profile-->
                <div v-if="showProfile">
                    <profile v-bind:user="selectedUser" v-bind:app-user="appUser"></profile>

                    <div class="dropdown pt-3">
                        <button class="btn btn-success dropdown-toggle" type="button" id="explore-dropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ contentType }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="explore-dropdown">
                            <li><a class="dropdown-item" v-on:click="contentType = 'Tweets'" href="#">Tweets</a></li>
                            <li><a class="dropdown-item" v-on:click="contentType = 'Likes'" href="#">Likes</a></li>
                            <li><a class="dropdown-item" v-on:click="contentType = 'Retweets'" href="#">Retweets</a></li>
                        </ul>
                    </div>

                    <div class="bg-light">
                        <div class="container p-3 bg-light">
                            <div class="d-flex justify-content-center" v-if="getContent().length == 0">
                                <h5>No content</h5>
                            </div>

                            <tweet v-else v-for="entry in getContent()" v-bind:key="entry.id" v-bind:entry="entry"
                                v-bind:user="selectedUser" v-bind:show-retweets="true"></tweet>
                            </tweet>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="container-fluid p-3 border-bottom bg-light">
                <h5>Recommended</h5>
                <div class="row align-items-center">
                    <user-info v-for="user in appUser.recommended" v-bind:key="user.id" v-bind:user="user"
                        v-bind:app-user="appUser">
                    </user-info>
                </div>
            </div>

            <div v-if="selectedUser.id != null">
                <div class="dropdown pt-3">
                    <button class="btn btn-success dropdown-toggle" type="button" id="explore-followers-dropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ followerType }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="explore-followers-dropdown">
                        <li><a class="dropdown-item" v-on:click="followerType = 'Followers'" href="#">Followers</a></li>
                        <li><a class="dropdown-item" v-on:click="followerType = 'Following'" href="#">Following</a></li>
                    </ul>
                </div>

                <div class="bg-light">
                    <div class="container p-3 bg-light">
                        <div class="d-flex justify-content-center" v-if="getFollowers().length == 0">
                            <h5>No content</h5>
                        </div>

                        <user-info v-else v-for="user in getFollowers()" v-bind:key="user.id" v-bind:user="user"
                            v-bind:app-user="appUser">
                        </user-info>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>