<div class="container-fluid p-3">
  <div class="row gx-3" style="height: 90vh;">

    <!--Left padding-->
    <div class="col-2"></div>

    <!--Entries column-->
    <div class="col-5 bg-light">
      <div class="p-3 border-bottom bg-light" v-if="appUser.logged">
        <textarea type="text" style="resize: none; overflow: hidden;" id="post" class="form-control" maxlength="256"
          placeholder="What's happening?" v-model="text"
          oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>

        <div class="d-flex p-2" v-if="text.length > 0">
          <button type="button" class="btn btn-primary" v-on:click="post">Tweet</button>
        </div>
      </div>

      <div class="d-flex justify-content-center p-5" v-if="entries.data.length == 0">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div class="bg-light" v-else>
        <div class="container p-3 bg-light">
          <tweet v-for="entry in entries.data" v-bind:key="entry.id" v-bind:entry="entry" v-bind:user="appUser"
            v-bind:show-retweets="false"></tweet>
          </tweet>

          <div class="d-flex justify-content-center p-3">
            <button type="button" class="btn btn-light" v-on:click="entries.load()">Load more</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
        <div class="container-fluid p-3 border-bottom bg-light">
          <h5>Recommended</h5>

          <div class="d-flex justify-content-center p-5" v-if="appUser.recommended.length == 0">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

          <div class="row align-items-center" v-else>
            <user-info v-for="user in appUser.recommended" v-bind:key="user.id" v-bind:user="user"
              v-bind:app-user="appUser">
            </user-info>
        </div>
      </div>
    </div>
  </div>
</div>