<div class="container-fluid p-3">
  <div class="row gx-3" style="height: 90vh;">

    <!--Left padding-->
    <div class="col-2"></div>

    <!--Entries column-->
    <div class="col-5 bg-light">
      <div class="p-3 border-bottom bg-light" v-if="user.logged">
        <textarea type="text" style="resize: none; overflow: hidden;" id="post" class="form-control" maxlength="256"
          placeholder="What's happening?" v-model="text"
          oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>

        <div class="d-flex p-2" v-if="text.length > 0">
          <button type="button" class="btn btn-primary" v-on:click="post">Tweet</button>
        </div>
      </div>

      <div class="bg-light">
        <div class="container p-3 bg-light">
          <tweet v-for="entry in entries.data" v-bind:key="entry.id" v-bind:entry="entry" v-bind:user="user"
            v-bind:show-retweets="false"></tweet>
          </tweet>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="container-fluid p-3 border-bottom bg-light">
        <h5>Recommended</h5>
        <div class="row align-items-center">
          <user-info v-for="_user in user.recommended" v-bind:key="_user.id" v-bind:user="_user" v-bind:app-user="user">
          </user-info>
        </div>
      </div>
    </div>
  </div>
</div>