<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">AspTwitter</a>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav nav-tabs me-auto mb-2 mb-lg-0">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" style="outline: none;" id="home-tab" data-bs-toggle="tab"
            data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
        </li>

        <li class="nav-item" role="presentation">
          <button class="nav-link" style="outline: none;" id="explore-tab" data-bs-toggle="tab"
            data-bs-target="#explore" type="button" role="tab" aria-controls="explore"
            aria-selected="false">Explore</button>
        </li>

        <li class="nav-item" role="presentation" v-if="appUser.logged">
          <button class="nav-link" style="outline: none;" id="profile-tab" data-bs-toggle="tab"
            data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
            aria-selected="false">Profile</button>
        </li>
      </ul>

      <ul class="nav">
        <li class="nav-item" v-if="appUser.logged">
          <button class="btn btn-secondary ms-2" type="button" v-on:click="logout">Logout</button>
        </li>

        <li class="nav-item" v-if="!appUser.logged">
          <button class="btn btn-primary ms-2" role="button" data-bs-toggle="modal" data-bs-target="#login"
            type="button">Login</button>
        </li>
        <li class="nav-item" v-if="!appUser.logged">
          <button class="btn btn-secondary ms-1" data-bs-toggle="modal" data-bs-target="#register"
            type="button">Register</button>
        </li>
      </ul>

    </div>
  </div>
</nav>