<div class="container-fluid p-3">
    <div class="row gx-3">

        <!--Left padding-->
        <div class="col-2"></div>

        <!--Entries column-->
        <div class="col-5 bg-light" style="height: 90vh;">
            <div class="position-relative p-3 border-bottom bg-light">
                <input type="image" id="editAvatar" v-bind:src="avatar" class="img rounded-circle float-left"
                    style="width: 100px; height: 100px; outline: none;" alt="Avatar"
                    onclick="document.getElementById('imageInput').click()">
                <input id="imageInput" type="file" accept="image/*" enctype="multipart/form-data"
                    onchange="profile.uploadImage()" style="display: none;">

                <button class="btn btn-outline-success position-absolute m-3 top-20 end-0" data-bs-toggle="modal"
                    data-bs-target="#edit" type="button">Edit profile</button>

                <p>
                    <b style="font-size: large;">{{ user.name }}</b><br>
                    @{{ user.username }}
                </p>
                <p style="color: black;">{{ user.about }}</p>
            </div>


            <div class="bg-light overflow-auto" style="height: 63vh;">
                <div class="p-3 border-bottom bg-light" v-for="entry in entries" v-bind:key="entry.id">
                    <b style="font-size: large;">{{ entry.author.name }}</b> @{{ entry.author.username }} <br>
                    <a style="color: black;">{{ entry.text }}</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="p-3 border-bottom bg-light">Reserved</div>
        </div>
    </div>
</div>