<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Tweet</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container" v-if="entry != null">
                <div class="row border-bottom p-3">
                    <div class="col-auto">
                        <img v-bind:src='getAvatar(entry.authorId)' class="img rounded-circle"
                            style="width: 70px; height: 70px; outline: none;" alt="avatar">
                    </div>

                    <div class="col-auto">
                        <b style="font-size: larger;">{{ entry.author.name }}</b> @{{ entry.author.username }} <br>
                        <a style="color: black; font-size: large; word-wrap: break-word;">{{ entry.text }}</a>
                    </div>
                </div>
            </div>

            <div class="p-3 border-bottom" v-if="user.logged">
                <textarea type="text" style="resize: none; overflow: hidden;" id="post" class="form-control" maxlength="128"
                    placeholder="Write your reply" v-model="text"
                    oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>

                <div class="d-flex p-2" v-if="text.length > 0">
                    <button type="button" class="btn btn-primary" v-on:click="reply">Reply</button>
                </div>
            </div>

            <div class="container p-3">
                <div class="row border-bottom p-3" v-for="comment in comments" :key="comment.id">
                    <div class="col-auto">
                        <img v-bind:src='getAvatar(comment.authorId)' class="img rounded-circle"
                            style="width: 50px; height: 50px; outline: none;" alt="avatar">
                    </div>

                    <div class="col-auto">
                        <b style="font-size: large;">{{ comment.author.name }}</b> @{{ comment.author.username }}
                        <button type="button" class="btn btn-default" aria-label="Left Align"
                            v-on:click='deleteComment(comment.id)' v-if="comment.authorId == user.id">
                            <span class="la la-trash" aria-hidden="true"></span>
                        </button> <br>
                        <a style="color: black; word-wrap: break-word;">{{ comment.text }}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>