@inherits LayoutComponentBase

@using Frontend.Models
@using Blazored.LocalStorage

@inject AppUser appUser
@inject ILocalStorageService localStorage
@inject HttpClient client

<div class="page">
    <div class="sidebar border-right border-secondary">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>

    <div class="col-auto border-left border-secondary d-none d-sm-none d-md-block">
        <Recommendations></Recommendations>
    </div>
</div>