@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar bg-dark border-right border-secondary">
        <NavMenu />
    </div>

    <div class="main bg-dark">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
