@inherits LayoutComponentBase

@using Frontend.Models
@using Blazored.LocalStorage

@inject AppUser appUser
@inject ILocalStorageService localStorage
@inject HttpClient client

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main bg-dark">
        <div class="content px-4">
            @Body
        </div>
    </div>

    <div class="col-3 bg-dark d-none d-sm-none d-md-block">
        <Recommendations></Recommendations>
    </div>
</div>