@using Frontend.Models

@inject AppUser appUser
@inject NavigationManager NavigationManager
@inject HttpClient client

<div class="row border-bottom border-secondary p-3">
    <div class="col-sm-auto">
        <img src="api/users/@user.Id/avatar" class="img rounded-circle"
             style="width: 50px; height: 50px; outline: none; cursor: pointer" @onclick="() => GoToProfile(user)" />
    </div>
    <div class="col-4">
        <a style="color: white;" href="@(user.Username)">@(user.Name)</a>
        <br />
        <span style="color: gray">@("@" + user.Username)</span>
    </div>
    <div class="col ml-5">
        @if (IsFollowing(user))
        {
            <button class="btn btn-primary" @onclick="async () => await appUser.UnfollowUser(user, client)">
                Following
            </button>
        }
        else
        {
            <button class="btn btn-outline-primary" @onclick="async () => await appUser.FollowUser(user, client)">
                Follow
            </button>
        }
    </div>
</div>

@code {
    [Parameter]
    public User user { get; set; }

    private void GoToProfile(User user)
    {
        NavigationManager.NavigateTo(user.Username);
    }

    private bool IsFollowing(User user)
    {
        return appUser.Logged && appUser.Following.Any(e => e.Id == user.Id);
    }
}
