@using Frontend.Models 

@inject HttpClient client
@inject AppUser appUser 

<div class="row border-bottom border-secondary p-3">
    <h5 class="text-light">Recommended</h5>
</div>

@if (recommended.Count == 0)
{
    <Spinner></Spinner>
}

@foreach (var user in recommended)
{
    <ProfileInfo user="@user"></ProfileInfo>
}

@code {
    private List<User> recommended = new();

    protected override async Task OnInitializedAsync()
    {
        recommended = await client.GetFromJsonAsync<List<User>>($"api/users/{appUser.Id}/recommended/3");
    }
}